@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: black 0px 0px 1px;
}

.checked {
  text-decoration: line-through;
  color: rgb(150,150,150);
  text-shadow: none;
}


header {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: rgb(33,51,33);
  overflow: hidden;  
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  font-size: larger;
}

.logo {
  cursor: pointer;
  height: 60px;
}

.logo2 {
  cursor: pointer;
  font-size: 40px;
  font-weight: 900;
  color: rgb(199, 0, 40);
}

.nav__links a,
.second-button,
.overlay__content a {  
  font-weight: 500;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #00A54D;
}

.green-text a{
  color: #00A54D;
}

.second-button {
  display: inline-block;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, #00A54D, #197D2D);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.second-button:hover {
  transform: scale(1.05);
}

.second-button:active {
  transform: scale(1);
  box-shadow: none;
  transition: transform 0.1s ease;
}

input[type="checkbox"] {
  position: relative;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 20%;
  z-index: 0;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  border-radius: 10%;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: white;
}
input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  opacity: 50%;
  top: 0;
  left: 0;
  background-color: rgb(150,150,150);
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 0.3rem;
  height: 0.65rem;
  border-style: solid;
  border-color: black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 12%;
  left: 32%;  
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: black 0px 0px 10px;
  border-radius: 20px;
  margin-bottom: 10%;
}

table td {
  padding: 10px;
  border-bottom: 2px solid rgb(33,51,33);
  color: black;
}

#arkusz-table{
  border-bottom: none;
  background-color: rgb(195,214,202);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(64, 94, 65);  
}

.width-60 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.flex {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
  width: 100%;
  
}

.margin-top {
  margin-top: 5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  width: 100%; 
}


.login {
  background-color: rgb(33,51,33);
  border-style: solid;
  border-width: 5px;
  border-radius: 1.2rem;
  align-items: center;  
  display: flex;
  width: fit-content;
  text-align: center;    
  justify-content: center;
  color: rgb(33,51,33);
  font-size: 1.2rem;
  font-weight: 300;
}

.login-input-l {
  border-top-left-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
  background-color: white;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-color: rgb(33,51,33);
  border-width: 0.1rem;
  border-style: solid;
  color: black;
}

.login-input-r {
  border-top-right-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  background-color: white;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-color: rgb(33,51,33);
  border-width: 0.1rem;
  color: black;
  border-style: solid;
}

.login-button {
  color: white;
  font-weight:400;
  cursor: pointer;
  padding: 0.3rem 1.2rem 0.3rem 1.5rem;
  transition: color 0.2s ease;
}

.login-button:hover {
  color: rgb(64, 94, 65);
}

.title {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-weight:900;
  font-size: 800%;
  -webkit-text-stroke: 2px rgb(33,51,33)
}